
  
<ion-content class="bg-style">
    <ion-card > 
        <ion-item>
          <ion-icon name="pin" slot="start"></ion-icon>
          <ion-label><b>02-Feb-2019 16:31 PM</b></ion-label>
          <ion-button fill="outline" slot="end" color="indigo">Lihat</ion-button>
        </ion-item>
      
        <ion-card-content >
          <p>Dibuat : 02-Feb-2019 16:31 PM - User </p>
          <p>Konstruksi</p>
          <p>Tanggal Proyek : 02-Feb-2019 - 03-Feb-2019</p>
        </ion-card-content>
        <ion-button fill="clear" slot="end" color="indigo">Ikuti</ion-button>

      </ion-card>
      
     
</ion-content>
