 <ion-content>
 <ion-grid>
    <ion-row justify-content-center align-items-center>
      <ion-col>
        <div text-right style="font-weight: bold">Ikuti</div>
      </ion-col>
      <ion-col>
        <ion-item lines="none">
          <ion-toggle color="primary" [(ngModel)]="theState" (ionChange)="change()" style="position: absolute; left: 45%;transform: translateX(-50%);"></ion-toggle>
        </ion-item>
        </ion-col>
      <ion-col>
        <div text-left style="font-weight: bold">Kerja</div>
      </ion-col>
    </ion-row>
  </ion-grid>
  <div *ngIf="theState == false">
    <div *ngIf="items_ikuti != 0; else kosong">
  <div *ngFor="let item of items_ikuti">
        <ion-card> 
            <ion-item>
              <ion-icon name="pin" slot="start" style="color:#4ebaaa;"></ion-icon>
              <ion-label><b>{{item.order.subject}}</b></ion-label>
              <ion-button fill="outline" slot="end" color="indigo" (click)="lihatBerjalan(item.order.id, item.order.subject)">Lihat</ion-button>
            </ion-item>
            <ion-card-content >
                <h3 style="margin-bottom: 5px;">{{item.order.created_at | date: "dd MMM yyyy HH:mm a"}} - Oleh {{item.order.user_client.username}}</h3>
                <p style="margin-bottom: 5px;">Tanggal proyek : {{item.order.dtprojectstart | date: "dd MMM yyyy" }} - {{item.order.dtprojectend | date: "dd MMM yyyy" }}</p>
                <div *ngIf="item.order.projecttype == 1">Pemetaan Tanaman</div>
                <div *ngIf="item.order.projecttype == 2">Liburan</div>
                <div *ngIf="item.order.projecttype == 3">Lalu-lintas</div>
                <div *ngIf="item.order.projecttype == 4">Konstruksi Bangunan</div>
                <div *ngIf="item.order.projecttype == 5">Pengawasan</div>
                <div text-left style="margin-left: -16px;">
                  <ion-button fill="clear"  color="indigo" (click)="Cancels(item.id, item.order.subject)"><b>Cancel</b></ion-button>
              </div>
              </ion-card-content>
          </ion-card>
              </div>
              </div>
              <ng-template #kosong>
                <ion-card>
                    <ion-card-content>
                      <p text-center style="font-weight:bold">Belum Ada Project yang diikuti</p>
                    </ion-card-content>
              </ion-card>
              </ng-template>
              </div>
              

              <div *ngIf="theState == true">
                <div *ngIf="items_kerja != 0; else kosongs" >

                <div *ngFor="let item of items_kerja">
                      <ion-card> 
                          <ion-item>
                            <ion-icon name="pin" slot="start" style="color:#4ebaaa;"></ion-icon>
                            <ion-label><b>{{item.order.subject}}</b></ion-label>
                            <ion-button fill="outline" slot="end" color="indigo" (click)="lihatBerjalan(item.order.id, item.order.subject)">Lihat</ion-button>
                          </ion-item>
                          <ion-card-content >
                              <h3 style="margin-bottom: 5px;">{{item.order.created_at | date: "dd MMM yyyy HH:mm a"}} - Oleh {{item.order.user_client.username}}</h3>
                              <p style="margin-bottom: 5px;">Tanggal proyek : {{item.order.dtprojectstart | date: "dd MMM yyyy" }} - {{item.order.dtprojectend | date: "dd MMM yyyy" }}</p>
                              <div *ngIf="item.order.projecttype == 1">Pemetaan Tanaman</div>
                              <div *ngIf="item.order.projecttype == 2">Liburan</div>
                              <div *ngIf="item.order.projecttype == 3">Lalu-lintas</div>
                              <div *ngIf="item.order.projecttype == 4">Konstruksi Bangunan</div>
                              <div *ngIf="item.order.projecttype == 5">Pengawasan</div>
                              <div text-left style="margin-left: -16px;">
                                <ion-button fill="clear"  color="indigo"><b>Cancel</b></ion-button>
                            </div>
                            </ion-card-content>
                        </ion-card>
                            </div>
                            </div>
                            </div>
                            <ng-template #kosongs>
                              <ion-card>
                                  <ion-card-content>
                                    <p text-center style="font-weight:bold">Belum Ada Project yang dikerjakan</p>
                                  </ion-card-content>
                            </ion-card>
                            </ng-template>

</ion-content>
 
<!-- <ion-footer style="height: 40px; background-color: #FAFAFA">
  <ion-grid style="margin-top:-13px">
      <ion-row>
        <ion-col text-center>
          <ion-button fill="clear" color="indigo">
                <ion-icon name="stats"></ion-icon>
                <label>URUTKAN</label>
        </ion-button>
        </ion-col>
        <ion-col text-center>
          <ion-button fill="clear" color="indigo">
                <ion-icon name="search"></ion-icon>
                <label>FILTER</label>
        </ion-button>    
        </ion-col>
      </ion-row>
    </ion-grid>
</ion-footer>   -->