<ion-content padding>
    <form [formGroup]="loginForm"  (ngSubmit)="onFormSubmit(loginForm.value)">

  <ion-item  class="marginTop">
    <ion-label color="indigo" floating-label><ion-icon name="mail"></ion-icon></ion-label>
    <ion-input type="text" placeholder="Email" formControlName="email"></ion-input>
  </ion-item>
  <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
      <div *ngIf="f.email.errors.required">Email is required</div>
      <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
  </div>
  <ion-item class="marginTop">
  <ion-label color="indigo" floating-label><ion-icon name="lock"></ion-icon></ion-label>
  <ion-input type="password" placeholder="Password" formControlName="password"></ion-input>
  </ion-item>
  <div text-center style="margin-top:40px">
<ion-button color="indigo" expand="block" type="submit" style="height:40px">Login</ion-button>
 </div>
</form>
  </ion-content>
  <ion-footer>
    <ion-toolbar text-center>
        <b style="margin-bottom: 10px;">Pendaftaran Mitra</b> <br>
         admin@eidaramata.com
    </ion-toolbar>
  </ion-footer>

  