.marginTop{
// margin-top:150px;
    margin: 20px 0;
}

.toast-message {
    white-space: pre-line;
}
ion-content{
    --ion-background-color:#FAFAFA;
}
:host {
    .item-interactive.ion-invalid{
     --highlight-background: #ff0000 !important;
   }
   .item-interactive.ion-valid{
     --highlight-background: #1a237e !important;
   }
 }

 .invalid-feedback{
   color: #ff0000;
   font-size: 13px;
 }