<ion-app>
  <ion-split-pane>
    <ion-menu>
      <ion-header no-border>
        <ion-toolbar style="height: 200px;" color="indigo">
            <ion-item color="indigo" no-border lines="none" style="margin-top:20px;">
                <ion-avatar slot="start" style="height: 60px; width:60px;">
                  <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y" >
                </ion-avatar>
                <ion-label text-left>
                    <rating [(ngModel)]="rate" id="rating"
                    readonly="true" 
                    size="default" 
                    (ngModelChange)="onModelChange($event)">
                   </rating>
                    
                </ion-label>
              </ion-item>
           
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-list>
          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages">
            <ion-item [routerDirection]="'back'" [routerLink]="[p.url]">
              <ion-icon slot="start" [name]="p.icon"></ion-icon>
              <ion-label>
                {{p.title}}
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
      <ion-footer no-border>
        <div text-center>
            v1.0.0
        </div>
      </ion-footer>
    </ion-menu>
    <ion-router-outlet main></ion-router-outlet>
  </ion-split-pane>
</ion-app>
