<ion-app>
  <ion-split-pane>
    <ion-menu>
      <ion-header no-border>
        <ion-toolbar style="height: 180px;" color="indigo">
            <ion-item color="indigo" no-border lines="none" style="margin-top:20px;">
                <ion-avatar slot="start" style="height: 60px; width:60px;">
                  <img src="assets/image/user.png" >
                </ion-avatar>
                <ion-label>
                    <rating [(ngModel)]="rate" id="rating"
                    readonly="true" 
                    size="default">
                   </rating>
                </ion-label>
              </ion-item>
              <ion-item style="margin-top:30px;" color="indigo" no-border lines="none">
                    <b>{{emailShow}}</b>
              </ion-item>
        </ion-toolbar>
       
      </ion-header>
      <ion-content>
        <ion-list>
          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages">
            <ion-item [routerDirection]="'back'" [routerLink]="[p.url]">
              <ion-icon slot="start" [name]="p.icon"></ion-icon>
              <ion-label>
                {{p.title}}
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
      <ion-footer no-border>
        <div text-center>
            v0.0.9
        </div>
      </ion-footer>
    </ion-menu>
    <ion-router-outlet main></ion-router-outlet>
  </ion-split-pane>
</ion-app>
