<ion-header>
    <ion-toolbar color="indigo">
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/tabs/tab-riwayat"></ion-back-button>
          </ion-buttons>
      <ion-title>{{subject}}</ion-title>
    </ion-toolbar>
  </ion-header>
  

<ion-content>
    <div #map id="map">
        <ion-spinner></ion-spinner>
      </div>
      <ion-item>
          <ion-label>
            <div>Luas Area : {{area}} meter<sup>2</sup></div> 
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            <div>Hasil : {{outputs}}</div> 
          </ion-label>
        </ion-item>
</ion-content>
