<ion-header>
  <ion-toolbar color="indigo">
      <ion-buttons slot="start">
          <ion-back-button defaultHref="/tabs/tab-berjalan"></ion-back-button>
        </ion-buttons>
    <ion-title>{{subject}}</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <div #map id="map">
      <ion-spinner></ion-spinner>
  </div>
  <ion-item>
    <ion-label>
      <div>Luas Area : {{area}} meter<sup>2</sup></div> 
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-label>
      <div>Hasil : {{outputs}}</div> 
    </ion-label>
  </ion-item>

  <ion-button expand="block" color="indigo" fill="clear" (click)="sendEmail(items[0].order_id)"><b>Kirim KML ke email</b></ion-button>

</ion-content>
