
  
<ion-content class="bg-style">
      <ion-card > 
            <ion-item>
              <ion-icon name="pin" slot="start" style="color:#4ebaaa;"></ion-icon>
              <ion-label><b>Proyek 1</b></ion-label>
              <ion-button fill="outline" slot="end" color="indigo">Lihat</ion-button>
            </ion-item>
          
            <ion-card-content >
                <h3 style="margin-bottom: 5px;">02 Feb 2019 User</h3>
                <p style="margin-bottom: 10px;">Tanggal proyek : 02 Feb 2019 - 03 Feb 2019</p>
    
                <h2>Konstruksi</h2>
            </ion-card-content>
            <ion-button fill="clear" slot="end" color="indigo">Ikuti</ion-button>
    
          </ion-card>
      
     
</ion-content>
