<ion-content>
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
      </ion-refresher>
            <ion-virtual-scroll [items]="dataList">
              <ion-card *virtualItem="let item"> 
                  <ion-item>
                    <ion-icon name="pin" slot="start" style="color:#4ebaaa;"></ion-icon>
                    <ion-label><b>{{item.order.subject}}</b></ion-label>
                    <ion-button fill="outline" slot="end" color="indigo">Lihat</ion-button>
                  </ion-item>
                  <ion-card-content >
                      <h3 style="margin-bottom: 5px;">{{item.order.created_at | date: "dd MMM yyyy" }} - {{item.user_clients.username }}</h3>
                      <p style="margin-bottom: 5px;">Tanggal proyek : {{item.order.dtprojectstart | date: "dd MMM yyyy" }} - {{item.order.dtprojectend | date: "dd MMM yyyy" }}</p>
                      <div *ngIf="item.order.projecttype == 1">Pemetaan Tanaman</div>
                      <div *ngIf="item.order.projecttype == 2">Liburan</div>
                      <div *ngIf="item.order.projecttype == 3">Lalu-lintas</div>
                      <div *ngIf="item.order.projecttype == 4">Konstruksi Bangunan</div>
                      <div *ngIf="item.order.projecttype == 5">Pengawasan</div>
                      <div text-left style="margin-left: -16px;">
                        <ion-button fill="clear"  color="indigo"><b>Ikuti</b></ion-button>
                    </div>
                    </ion-card-content>
                </ion-card>
        </ion-virtual-scroll>
           
           
            <ion-infinite-scroll threshold="100px" (ionInfinite)="loadMore($event)" *ngIf="page < totalPage">
              <ion-infinite-scroll-content
                loadingSpinner="bubbles"
                loadingText="Loading more data...">
              </ion-infinite-scroll-content>
            </ion-infinite-scroll>
     
</ion-content>
<ion-footer style="height: 40px; background-color: #FAFAFA" *ngIf="isShown">
    <ion-grid style="margin-top:-13px">
        <ion-row>
          <ion-col text-center>
            <ion-button fill="clear" color="indigo">
                  <ion-icon name="stats"></ion-icon>
                  <label>URUTKAN</label>
          </ion-button>
          </ion-col>
          <ion-col text-center>
            <ion-button fill="clear" color="indigo">
                  <ion-icon name="search"></ion-icon>
                  <label>FILTER</label>
          </ion-button>    
          </ion-col>
        </ion-row>
      </ion-grid>
  </ion-footer>
