<ion-content class="bg-style">
          <ion-virtual-scroll [items]="dataList">
              <ion-item *virtualItem="let item">
                  <ion-card > 
                      <ion-item>
                        <ion-icon name="pin" slot="start" style="color:#4ebaaa;"></ion-icon>
                        <ion-label><b>Proyek 1</b></ion-label>
                        <ion-button fill="outline" slot="end" color="indigo">Lihat</ion-button>
                      </ion-item>
                    
                      <ion-card-content >
                          <h3 style="margin-bottom: 5px;">02 Feb 2019 User</h3>
                          <p style="margin-bottom: 10px;">Tanggal proyek : 02 Feb 2019 - 03 Feb 2019</p>
              
                          <h2>{{item}}</h2>
                      </ion-card-content>
                      <ion-button fill="clear" slot="end" color="indigo">Ikuti</ion-button>
              
                    </ion-card>
              </ion-item>
            </ion-virtual-scroll>
           
           
            <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
              <ion-infinite-scroll-content
                loadingSpinner="bubbles"
                loadingText="Loading more data...">
              </ion-infinite-scroll-content>
            </ion-infinite-scroll>
     
</ion-content>
