<ion-content>
  <ion-grid>
    <ion-row justify-content-center align-items-center>
      <ion-col>
        <div text-right style="font-weight: bold">Ikuti</div>
      </ion-col>
      <ion-col>
        <ion-item lines="none">
          <ion-toggle color="primary" checked="false" style="position: absolute; left: 45%;transform: translateX(-50%);" [(ngModel)]="theState" (ionChange)="change()"></ion-toggle>
        </ion-item>
        </ion-col>
      <ion-col>
        <div text-left style="font-weight: bold">Kerja</div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
